version: "3.8"

services:
  app:
    build: .
    volumes:
      - .:/usr/src/app
      # ボリュームを作成
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    # Docker内でReact実行が失敗するため、コンテナの標準入力をオープンにする
    stdin_open: true
